@model IList<VendBot.Models.Item>

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Styles/vend.css"/>

<div class="row">
    <div class="vend clearfix">
        <!-- 4 x 4 grid-->
        @foreach (var item in Model)
        {
            <div class="vend-column">
                <img class="vend-item-image" src="@item.Image" alt="@item.Name" />
                @*<div class="vend-item-id">@item.Id</div>*@
                @*<div class="vend-item-name">@item.Name</div>*@
                <div class="@(@item.Quantity < 20 ? "notok" : "ok") vend-item-quantity">@item.Quantity</div>
            </div>
        }
    </div>
</div>

<script>
    setTimeout(function () { location.reload(1); }, 5000);
</script>